In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Dry_Bean_Dataset.csv")
# data2 = data["Class"]
data.drop(columns=["S.No", "Class"], inplace=True)
# data2.to_csv("Dry_Bean_Dataset_Classes.csv")
df = pd.DataFrame(data)

In [3]:
from sklearn.preprocessing import StandardScaler

In [16]:
import numpy as np
scaler = StandardScaler()
data2 = np.array(df.Area).reshape(-1,1)
scaler.fit(data2)
# type(data2)

df2 = pd.DataFrame(data2)
df2.describe()

                   0
count   13611.000000
mean    53048.284549
std     29324.095717
min     20420.000000
25%     36328.000000
50%     44652.000000
75%     61332.000000
max    254616.000000