In [1]:
import pandas as pd
import numpy as np

survival	Survival	0 = No, 1 = Yes
pclass	Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd
sex	Sex	 1 = male 0 = female
Age	Age in years	
sibsp	# of siblings / spouses aboard the Titanic	
parch	# of parents / children aboard the Titanic	
ticket	Ticket number	
fare	Passenger fare	
cabin	Cabin number	
embarked	Port of Embarkation	C = Cherbourg (-1), Q = Queenstown(0), S = Southampton(1)

In [3]:
data = pd.read_csv("titanic_train.csv")
df = data.copy()

In [42]:
# df.drop("Fare", axis=1, inplace=True)
# df.drop("Name", axis=1, inplace=True)
# df.drop(["Cabin"], axis = 1, inplace=True)
# df.drop("Name", axis=1, inplace=True)
# df.drop("Ticket", axis=1, inplace=True)

In [58]:
df.Age.fillna(df[df["Sex"] == 'female'].Age.mean(), inplace=True)

In [74]:
df.Embarked.dropna(inplace=True)

In [70]:
def fun(s):
    if s == 'male':
        return 1
    elif s== 'female':
        return 0

df.Sex = df.Sex.apply(fun)

In [83]:
def fun2(s):
    if s=='C':
        return -1
    elif s=='Q':
        return 0
    elif s=='S':
        return 1
    else:
        return s
df.Embarked = df.Embarked.apply(fun2)

In [84]:
df.Embarked.unique()

array([ 1., -1.,  0., nan])

In [85]:
df.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch  Embarked
0            1         0       3    1  22.0      1      0       1.0
1            2         1       1    0  38.0      1      0      -1.0
2            3         1       3    0  26.0      0      0       1.0
3            4         1       1    0  35.0      1      0       1.0
4            5         0       3    1  35.0      0      0       1.0