In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('survey_results_public.csv')  # loading the csv file

In [ ]:
df  # printing the file

In [ ]:
df.shape  # gives (rows, cloumns) as a tuple

In [ ]:
df.info()

In [ ]:
pd.set_option('display.max_columns', 61)  # setting the maximum column lenght to a value to see all the columns 
pd.set_option('display.max_rows', 10)

In [ ]:
schema_df = pd.read_csv('survey_results_schema.csv')  # another file loading

In [ ]:
schema_df

In [ ]:
schema_df.head()  # accessing the first 5 row of the data

In [ ]:
schema_df.head(10)  # an argument can be passed to see perticular number of rows of the data

In [ ]:
schema_df.tail(2)  # tail() access the last 5 elements but passing an int argument will return the last rows from last

In [ ]:
df[['Hobbyist', 'Age']]  # unlike list in python, multiple arguments can , as a list, be passed to access multiple rows and columns of the data

In [ ]:
df.columns  # have printed all the columns of the data

In [ ]:
schema_df.iloc[[0, 1, 5]]  ## i stands for integer. elements can be accessed with indexes only

In [ ]:
df.iloc[[0, 3], 4]   # a list of indexes can be passesd to access rows or columns

In [ ]:
df.loc[[2, 4, 3], 'Age']  # labels can be used to access elements in loc function

In [ ]:
df.loc[0:4, 'Hobbyist']   # Last value is inclusive  # Sclicing can be used instead of individual indexes

In [ ]:
df.loc[0:3, 'Hobbyist':'Employment']  # covered

In [ ]:
df[['Hobbyist', 'Age']].value_counts()

In [ ]:
df.index

In [ ]:
df.set_index('Respondent')  # a column can be used as index but it will not change the original data, a copy of it can be accessed

In [ ]:
df.set_index('Respondent', inplace=True)  # if we set inplace = True then the original data will we changed 
df

In [ ]:
df.reset_index(inplace=True)

In [ ]:
schema_df = pd.read_csv('survey_results_schema.csv', index_col='Column')  # using index_col to use column named 'Column' as index of the data
schema_df

In [ ]:
schema_df.loc['NEWEdImpt']  # finding what is the question the 'NEWEdImpt' index contains

In [ ]:
schema_df.loc['NEWEdImpt', 'QuestionText']  # if the question can not be seen completely use

In [ ]:
schema_df.sort_index(ascending=True, inplace=True) # sorting makes easier to find a index with a label
schema_df

In [ ]:
schema_df.reset_index



# Filtering the data #

In [ ]:
filt = (df['Hobbyist'] == 'Yes') ### &(and), |(or), ~(not)  can be used to pass to filter data with certain conditions

In [ ]:
filt

In [ ]:
filt.value_counts()

In [ ]:
df[filt]

In [ ]:
df.loc[filt]

In [ ]:
countries = ['United States', 'India', 'United Kingdom', 'Germany']
countries2 = ['India']
filt_2 = (df['Country'].isin(countries2)) & (df['ConvertedComp']>100000)

In [ ]:
df.loc[filt_2]

In [ ]:
df.info()  # gives info about the data and datatype and the null or non-null values present in the data

In [ ]:
df.describe()  # if we have data with numbers we can see how the data is distributed i.e. mean, std etc.

**Part 5**

In [ ]:
schema_df.columns  # returns list of columns

In [ ]:
schema_df.columns = ['Question_text']   # 
schema_df.columns

In [ ]:
schema_df.columns = schema_df.columns.str.replace('_', ' ')  # using string methods to edit the names of the columns 
schema_df.columns

In [ ]:
df.rename(columns={'MainBranch':'Main_Branch', 'CompFreq':'Comp_Freq'}, inplace=True)  # Pass a dictionary of old names of columns as keys and new as values
df

In [ ]:
df.columns = df.columns.str.replace('_', '')

In [ ]:
schema_df.loc['Age'] = ['This is a test Question']    # updating a value

In [ ]:
schema_df.at[2, 'Age'] = ['This is a test question part2']
schema_df

In [ ]:
#df.loc['Hobbyist'].apply(len)   # a function can be applied to a series

In [ ]:
#df.apply(pd.Series.min)  # minimum number or alphabetically first element will be returned

In [ ]:
#schema_df.applymap(len)  # apply executes a function on a series but applymap on each element of the series

In [ ]:
schema_df['Question text'].map({'Age': 'Age Now'})   # map applies changes on a series if a value is not passesd it will assign null value to these items

In [ ]:
#schema_df['Column'] = schema_df['Column'].replace({'Age': 'Age Now'})  # the difference is it will not assign null value to the values which weren't passed

In [ ]:
df['Hobbyist'].map({'Yes': True, 'No': False})

**Part 6 Add/Remove Rows and columns**

In [ ]:
schema_df['Question text'] + '--' # + schema_df['Column']  # Adding to columns

In [ ]:
schema_df['New Column'] = list(schema_df['New Column'].str.split())  # adding a new column to the dataframe
schema_df

In [ ]:
schema_df.drop(columns=['Age', 'New Column'], inplace=True)   # removing columns from dataframe
schema_df

In [ ]:
# schema_df.dropna(subset=["Age", inplace=True])  # removing rows which has NaN values in them
# print(df.info())  # getting info about the datatype and null values present in the columns
# print(df.isnull().sum())  # counting the null values in columns

In [ ]:
schema_df['Question text'].str.split(' ', expand=True)
schema_df

In [ ]:
schema_df.append({'first': 'This is a sample question'})  # adding new row # can only append a dict is ignore_index=True

In [ ]:
schema_df.append({'first': 'This is a sample question'}, ignore_index=True)

In [ ]:
avengers = {
    'first': ['Tony', 'Steve', 'Thor'],
    'last': ['Stark', 'Rogers', 'Odinson'],
    'Dialogue': ['I am Iron Man', 'I can do this all day', 'This drink, I like it! ANOTHER ONE!']
}

In [ ]:
df2 = pd.DataFrame(avengers)
df2

In [ ]:
schema_df.append(df2, ignore_index=True)  # adding a dataframe to another dataframe

In [ ]:
# to permanently change the data i.e. to edit the data we will assign the value viz.
schema_df = schema_df.append(df2, ignore_index=True)
schema_df

In [ ]:
schema_df.drop(index=67)

In [ ]:
filte = schema_df['last'] == 'NaN'
schema_df.drop(index=schema_df[filte].index)

**Part11 Reading/Writing to/From A CSV file**

In [ ]:
filter1 = df['Country'] == 'India'
india_df = df.loc[filter1]
india_df.head()

In [ ]:
india_df.to_csv('C:/Users/pushk/PycharmProjects/firstproject/newfile.csv')  # exporting a dataframe to a csv

In [ ]:
india_df.to_csv('C:/Users/pushk/PycharmProjects/firstproject/newfile.csv', sep='\t')  # exporting a dataframe into a csv with delimiter as tab

In [ ]:
india_df.to_excel('C:/Users/pushk/PycharmProjects/firstproject/newfile.xlsx')  # exporting to a excel file

In [ ]:
test_excel = pd.read_excel('C:/Users/pushk/PycharmProjects/firstproject/newfile.xlsx', index_col='Respondent')  # Reading a excel file

In [ ]:
test_excel.head()

In [ ]:
india_df.to_json('C:/Users/pushk/PycharmProjects/firstproject/newfile.json')  # Writing a json file from a dataframe

In [ ]:
india_df.to_json('C:/Users/pushk/PycharmProjects/firstproject/newfile.json', orient='records', lines=True)  # writing a json file having data in form of a list instead of default dictionary type

In [ ]:
test_json = pd.read_json('C:/Users/pushk/PycharmProjects/firstproject/newfile.json', orient='records', lines=True)

In [ ]:
test_json.head()

In [ ]:
from sqlalchemy import create_engine
import psycopg2

In [ ]:
engine = create_engine('postgresql://dbuser:dbpass@localhost:5432/sample_db')

In [ ]:
india_df.to_sql('sample_table', engine)